/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 10, 2017, 10:12:47 AM
    Author     : evich
*/
header, main, footer ,#breadcrumb {
    padding-right: 300px;
}
.side-nav {
    overflow: hidden;
    display: inline-block;
}
.side-nav:hover{
    overflow-y: scroll;

}
.side-nav.fixed.right-aligned{
    top: 64px;
}
.side-nav  a{
    color:#757575;
}
.side-nav a:hover{
    color: black;
}
.picker__date-display{
    background-color: #26a69a;
}
.nav-wrapper ul li a i:hover {
    background: white !important; 
    color: black !important; 
}


            input[type=range]::-webkit-slider-thumb {
                background-color: crimson;
            }
            input[type=range]::-moz-range-thumb {
                background-color: crimson;
            }
            input[type=range]::-ms-thumb {
                background-color: crimson;
            }
            /***** These are to edit the thumb and the text inside the thumb *****/
            input[type=range] + .thumb {
                background-color: crimson;
            }
            input[type=range] + .thumb.active .value {
                color: white;
            }
            input[type="number"]::-webkit-outer-spin-button,
            input[type="number"]::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            input[type="number"] {
                -moz-appearance: textfield;
            }



@media all and (max-width : 992px) {
    header, main, footer,#breadcrumb {
        padding-right:  0;
    }
    .side-nav.fixed.right-aligned{
        top: 0;
    }
}
